{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block nav %}
    {{ include('partials/_nav.html.twig') }}
{% endblock %}

{% block body %}
    <main class="page-wrapper">
        <section id="header" class="bg-white border-bottom border-dark border-opacity-25">
            <img src="{{ asset('build/images/dataset.jpg') }}" class="img-fluid w-100" alt="">
        </section>
        <section id="download" class="bg-body-secondary pt-5 pb-5 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <h2 class="display-3 underline mb-3">Get the ATLAS dataset</h2>
                        {% if app.user %}
                            <p class="mb-2">
                                Participants must agree to comply with the terms of
                                <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">CC BY-NC-SA 4.0</a>
                                license, and also agree to the specific terms:
                            </p>
                            <ul class="list-group list-group-numbered list-group-flush mt-2 mb-2">
                                <li class="list-group-item bg-body-secondary border-secondary-subtle">
                                    The ATLAS dataset is available as free to use
                                    strictly only non-commercial scientific research purposes,</li>
                                <li class="list-group-item bg-body-secondary border-secondary-subtle">
                                    Participants must use the following citation when referencing
                                    the EMIDEC datasets.<br>
                                    {% include 'partials/_data-paper.html.twig' %}
                                </li>
                            </ul>
                            <div class="alert alert-primary " role="alert">
                                <div class="custom-control custom-checkbox mt-2 mb-2">
                                    <input type="checkbox" class="custom-control-input" id="AgreeTermsForDataset">
                                    <label class="custom-control-label" for="AgreeTermsForDataset">Agree to the terms of
                                        the CC BY-NC-SA 4.0 license and the EMIDEC terms and commit to cite the
                                        challenge and the article presenting the dataset.</label>
                                </div>


                                <form action="{{ path('app_dataset_download') }}">
                                    <button type="submit" class="btn btn-lg btn-primary" id="downloadDataset" disabled>
                                        <i class="fas fa-download"></i> Download
                                    </button>
                                </form>
                            </div>

                        {% else %}
                            <p class="mb-3">
                                The datasets are only available for download by
                                <a href="{{ path('app_login') }}">registered</a> users.
                            </p>
                            <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Log in / Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section id="description" class="bg-white pt-5 pt-lg-0 pb-5 pb-lg-0 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-lg-2 p-5">
                        <h2 class="underline mb-3">The ATLAS dataset</h2>
                        <p class="mb-2">
                            The ATLAS dataset was largely acquired at the University Hospital, Dijon 21 000,
                            France and consists of real clinical acquisitions of HCC. The ATLAS dataset was
                            anonymized and processed in accordance with the rules established by the Ethical
                            Committee of the University Hospital of Dijon. All administrative information
                            included in the metadata has been removed, making it untraceable. Thus, in accordance
                            with the French law it was not necessary to go through the process of obtaining an
                            ethical approval number.
                        </p>
                        <p class="mb-2">
                            The <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">
                                CC BY-NC-SA 4.0 license
                            </a>
                            lets participants remix, adapt, and build upon the ATLAS
                            dataset non-commercially, as long as they credit the ATLAS dataset and license
                            their new creations under identical terms.
                        </p>
                        <p class="mb-2">
                            All the details regarding the dataset are provided in the following paper:
                        </p>
                        {% include 'partials/_data-paper.html.twig' %}
                    </div>
                    <div class="col-lg-4 order-lg-1 img-bg img-h-20" style="background-image: url('{{ asset('build/images/chu-dijon.png') }}');">
                    </div>

                </div>
            </div>
        </section>
        <section id="organization" class="bg-body-secondary pt-5 pt-lg-0 pb-5 pb-lg-0 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  p-5">
                        <h2 class="underline mb-3">Dataset organization</h2>
                        <p class="mb-2">
                            The overall dataset is divided in two sets:
                        </p>
                        <ul class="list-group list-group-numbered list-group-flush mt-2 mb-2">
                            <li class="list-group-item bg-body-secondary border-secondary-subtle">
                            A training set of 60 patients acquired from 2012 to 2020 containing 60 images
                                along with the 60 corresponding labels for liver and tumor under nifty format.
                            </li>
                            <li class="list-group-item bg-body-secondary border-secondary-subtle">A testing set of
                                30 patients acquired from 2020 to 2023 containing 30 images
                                along with the 30 corresponding labels for liver and tumor under nifty format.
                            </li>
                        </ul>
                        <p class="mb-2">
                            Patients' information for the train set including acquisition year, image resolution,
                            contrast phase, MRI sequence, and MRI manufacturer are provided in the file
                            "patient_info_train.json". A similar file for the test set "patient_info_test.json"
                            will be available during the submission process.
                        </p>
                        <p class="mb-2">
                            The python code which will be used for metric calculation is also provided in the
                            folder "metric_calculation".
                        </p>
                        <p class="mb-2">
                            Since the dataset was acquired over 11 years the quality of the patient care and of
                            the acquisitions has improved. Thus, a domain shift between the older and recent
                            acquisition exists, most recent acquisitions are more likely to resemble future
                            acquisitions. For this reason, the test set is composed of the most recent patients
                            of the dataset. The test dataset will be released once the website closes in late 2025.
                        </p>


                    </div>
                    <div class="col-lg-4  img-bg img-h-20" style="background-image: url('{{ asset('build/images/medical-data.jpg') }}');">
                    </div>
                </div>
            </div>
        </section>
        <section id="source" class="bg-white pt-5 pt-lg-0 pb-5 pb-lg-0 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 order-lg-2 p-5">
                        <h2 class="underline mb-3">Data source</h2>
                        <p class="mb-2">
                            The CE-MRI exams of the ATLAS dataset were mainly performed on five Siemens MRI machines of
                            1.5T and 3T. Few exams were done on General Electric (GE) MRI 1.5T machines using
                            gadolinium-based contrast agent injection.
                        </p>
                        <p class="mb-2">
                            Each acquisition is T1-weighted in the transversal axis with an ultrafast gradient
                            echo sequence. On Siemens equipment, Volumetric Interpolated Breath-hold Examination
                            (VIBE) sequence was used or a derived VIBE sequence, such as VIBE TWIST or VIBE CAIPIRINHA.
                            On GE equipment, Liver Acquisition with Volume Acquisition (LAVA) or LAVA FLEX sequences
                            were used. Fat saturation (FATSAT) is applied for all acquisitions.
                        </p>
                        <p class="mb-2">
                            Each exam results in three to five CE-MR images, one image is selected to be added to the
                            dataset. The selected image is usually one of the three post-contrast injection phases
                            (arterial, portal or delayed) that is also used by the experts to delineate the liver
                            and tumor(s). In some rare cases, the selected image is done without agent contrast injection.
                        </p>
                        <p class="mb-2">
                            Finally, a CE-MRI of the ATLAS dataset consists in a 3D image of 44 to 136 transversal
                            slices of the thorax and abdomen covering the entire liver and tumor. Each slice has a
                            pixel spacing between 0.68 x 0.68 mm² and 1.41 x 1.41mm², and a slice thickness between
                            2mm and 4mm.
                        </p>
                        <p class="mb-2">
                            Using the selected CE-MRI, the liver and tumor(s) contours were manually delineated by
                            an experienced MRI radiologist on transverse slices to produce the labels.
                            No pre-processing was applied.
                        </p>
                    </div>
                    <div class="col-lg-4 order-lg-1 img-bg img-h-20" style="background-image: url('{{ asset('build/images/siemens-mri.jpg') }}');">
                    </div>
                </div>
            </div>
        </section>


    </main>
{% endblock %}