{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <main class="vh-100 vw-100">
        <section class="position-relative h-100">
            <div class="d-flex flex-wrap justify-content-center h-100 w-50 ps-10 pe-5" >
                <div class="align-self-center p-5">
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}

                    {% include 'partials/_flash.html.twig' %}

                    <h1 class="text-uppercase fs-6 fw-bold text-primary">Atlas Challenge</h1>
                    <h2 class="text-uppercase fs-1 fw-bold mb-5">Sign up ...</h2>
                    <p class="lead ">... with only <span class="text-primary">an e-mail</span>,
                        a <span class="text-primary">secure password</span> ...
                        <br> It's free and only <span class="text-primary">takes a minute.</span>
                    </p>

                    <div class="alert alert-warning mb-5 " >
                            Only institutional emails are authorized to create an account.
                            A manual validation step of the email address will be performed by the Atlas challenge
                            organizers before giving full access to the dataset.
                    </div>
                    {{ form_start(registrationForm, {
                        'attr': {
                            'novalidate': 'novalidate',
                            'class':'needs-validation'
                        }
                    }) }}

                    {{ form_row(registrationForm.email) }}

                    {{ form_row(registrationForm.plainPassword) }}

                    <button type="submit" class="btn btn-primary shadow-primary btn-lg w-100 mt-5">
                        <i class="fas fa-check"></i>
                        Sign up
                    </button>
                    {{ form_end(registrationForm) }}
                    <div class="mt-5 text-center text-xl-end">
                        <p>
                            Or <a href="{{ path('app_login') }}">Log in to your account !</a><br>
                            <a href="{{ path('app_login') }}">Forgotten password ?</a>
                        </p>
                    </div>
                </div>

            </div>
            <!-- Background -->
            <div class="position-absolute top-0 end-0 w-50 h-100 100vh bg-position-center bg-repeat-0 bg-size-cover d-none d-lg-block"
                 style="background-image: url({{ asset('build/images/bg-register.jpg') }});"></div>
        </section>
    </main>


{% endblock %}