{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block nav %}
    {{ include('partials/_nav.html.twig') }}
{% endblock %}

{% block body %}
    <main class="page-wrapper">
        <section id="header" class="bg-white border-bottom border-dark border-opacity-25">
            <img src="{{ asset('build/images/admin-zone.jpg') }}" class="img-fluid w-100" alt="">
        </section>
        <section id="docker" class="bg-body-secondary pt-5 pb-5 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        {% include 'partials/_flash.html.twig' %}
                        <h2 class="display-3 underline mb-3">Manage the Docker containers</h2>

                            <p class="mb-2">
                                The table below details the Docker containers submitted by participants:
                            </p>
                            <table class="table table-striped text-center">
                                <thead>
                                <tr>
                                    <th scope="col">Submission Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Docker Id</th>
                                    <th scope="col">Docker Archive</th>
                                    <th scope="col">Docker Revision</th>
                                    <th scope="col">Docker Size</th>
                                    <th scope="col">Upload metrics</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for docker in dockers %}
                                    <tr>
                                        <td>{{ docker.createdAt|date('d/m/Y - H:i:s') }}</td>
                                        <td>{{ docker.user.email }}</td>
                                        <td>{{ docker.id }}</td>
                                        <td><a href=" {{ vich_uploader_asset(docker, 'dockerFile') }} "> {{ docker.dockerName }}</a></td>
                                        <td>{{ docker.version }}</td>
                                        <td>{{ docker.dockerSize }}</td>
                                        <td>
                                            {%  if not docker.processed %}
                                                <a class="btn btn-primary btn-sm text-center"
                                                   href={{ path('app_admin_metrics', {id:docker.id})}} role="button">
                                                    Upload a csv file</a>
                                            {% else %}
                                                <span class="badge bg-success">Done</span>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </section>

        <section id="docker" class="bg-white pt-5 pb-5 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        {% include 'partials/_flash.html.twig' %}
                        <h2 class="display-3 underline mb-3">Metrics with Ranking</h2>
                        {% if finalRanks is empty %}
                            <p class="mb-2">
                                No metrics with ranking yet.
                            </p>
                        {% else %}
                        <p class="mb-2">
                            The table below details the Metrics with ranking submitted by participants:
                        </p>
                        <table class="table table-striped text-center">
                            <thead>
                            <tr>
                                <th scope="col">Rank</th>
                                <th scope="col">Docker Id</th>
                                <th scope="col">User</th>

                                <th scope="col">Liver ASD (mm続)</th>
                                <th scope="col">Liver Hausdorff Distance (mm続)</th>
                                <th scope="col">Tumor ASD (mm続)</th>
                                <th scope="col">Tumor Hausdorff Distance (mm続)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for finalRank in finalRanks %}
                                <tr>
                                    <td>#{{ loop.index }}</td>
                                    <td>{{ finalRank }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>

        <section id="report" class="bg-body-secondary pt-5 pb-5 border-bottom border-dark border-opacity-25">
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <h2 class="display-3 underline mb-3">Download the Technical reports</h2>

                        <p class="mb-2">
                            The table below details the Technical reports submitted by participants:
                        </p>
                        <table class="table table-striped text-center">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">User</th>
                                <th scope="col">Report</th>
                                <th scope="col">Size</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for report in reports %}
                                <tr>
                                    <td>{{ report.createdAt|date('d/m/Y - H:i:s') }}</td>
                                    <td>{{ report.user.email }}</td>
                                    <td><a href=" {{ vich_uploader_asset(report, 'reportFile') }} "> {{ report.reportName }} </a></td>
                                    <td>{{ report.reportSize }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>

    </main>


{% endblock %}